
@{
    ViewBag.Title = "طلب أدوية ";
}

<div class="text-center text-info " style="display:none;" id="AddOrderSuccess"></div>
<input type="button" class="btn btn-primary" id="AddOrderIn" value="إنشاء فاتورة طلب جديدة" />
<div class="row">
    <input class="form-control" disabled="disabled" style="direction: ltr;" type="text" placeholder="إبحث عن الدواء المراد" name="AutoSearch" id="SearhName" />
    <div class="col-md-8" style="border-left:3px solid #00ffff; background:#FFF; border-radius:5px;">
        <table class="table table-bordered medicineDetialstable">
            <thead>
                <tr>
                    <th>  إسم الدواء </th>
                    <th>  الكمية المتوفرة</th>
                    <th>سعر الدواء </th>
                    <th> إحتواءه علي أشرطة أم لا  </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="searchresults"></tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="alert alert-danger text-center" id="errormessage" style="display:none;"></div>
        <form class="form-horizontal">
            <input type="hidden" name="remainQTY" disabled="disabled" id="remainQTY" />
            <input type="hidden" disabled="disabled" name="price" id="price" />
            <input type="hidden" disabled="disabled" name="OrderId" id="OrderId" />
            <input type="hidden" disabled="disabled" name="old_totalAmout" id="old_totalAmout" />
            <input type="hidden" disabled="disabled" name="old_OrderQuantity" id="old_OrderQuantity" />
            <input type="hidden" disabled="disabled" name="old_Quantity" id="old_Quantity" />
            <input type="hidden" disabled="disabled" name="mId" id="mId" />
            <input type="hidden" disabled="disabled" name="medDetialID" id="medDetialID" />
            <input type="hidden" disabled="disabled" id="isContainTapes" name="isContainTapes" />
            <div class="form-group">
                <label class="col-md-4">الكمية المطلوبة</label>
                <div class="col-md-6">
                    <input type="number"disabled="disabled" name="Quantity" id="Quantity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">سعر الشراء </label>
                <div class="col-md-6">
                    <input type="number" disabled="disabled" name="buyingPrice" id="buyingPrice" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">إسم الدواء</label>
                <div class="col-md-6">
                    <input type="text" disabled="disabled" name="mName" id="mName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-2">
                    <input type="button"disabled="disabled" value  = "إضفه للفاتورة" id="buyMedicine" class="btn btn-info" />
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="text-center text-info">بيانات الفاتورة</div>
<div class="row">
    <div class="col-md-8" style="background:#ccc; border-radius:5px;">
        <table class="table table-bordered orderDetialstable">
            <thead>
                <tr>
                    <th>  إسم الدواء </th>
                    <th>  الكمية المشتراه</th>
                    <th>سعر البيع </th>
                    <th>المبلغ الكلي</th>
                    <th>الخيارات</th>
                </tr>
            </thead>
            <tbody id="orderDetials"></tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="alert alert-danger text-center" id="Ordererrormessage" style="display:none;"></div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4">كمية الأدوية المشتراه </label>
                <div class="col-md-6">
                    <input type="number" disabled="disabled" name="totaleMedicineQuantity" id="totaleMedicineQuantity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">سعر الفاتورة </label>
                <div class="col-md-6">
                    <input type="number" disabled="disabled" name="sumprice" id="sumprice" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4"> المبلغ الحالي </label>
                <div class="col-md-6">
                    <input type="text"  name="PaidPrice" id="PaidPrice" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">تاريخ السداد </label>
                <div class="col-md-6">
                    <input type="date"  name="payementDate" id="payementDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5">
                    <input type="button" disabled="disabled" value="حفظ بيانات الفاتورة" id="saveOrder" class="btn btn-info" />
                </label>
                <div class="col-md-5">
                    <a style="display:none;" class="btn btn-success" href="" id="printOrderLink" target="_blank">طباعة بيانات الفاتورة</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {

    <script>
        function searchFailed() {
            $("#searchresults").html("Sorry, there was a problem with the search.");
        }
        $(function () {

            //Add new OrderIn 
            $("#AddOrderIn").click(function () {

                    $.ajax({
                        url: "AddOrderIn",
                        type: "GET",
                        data:{} ,
                        error: function (xhr, error) {
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        },
                        success: function (data) {
                            // $("#searchresults").html(result);
                            if (data != null) {
                                $("#OrderId").val(data);
                                $("#AddOrderSuccess").fadeIn();
                                $("#AddOrderSuccess").html("تم إنشاء الفاتورة بنجاح يمكنك إجراء عملية الطلب");
                                $(this).attr("disabled", "disabled");
                                $("#SearhName").removeAttr("disabled");
                                $("#AddOrderIn").attr("disabled", "disabled");
                                $("#totaleMedicineQuantity").val("");
                                $("#sumprice").val("");
                                $("#PaidPrice").val("");
                                $("#payementDate").val("");
                                $("#printOrderLink").attr("href", "/OrderIn/printOrderAction/" + data)
                            }

                        }
                    });
               
            });
            //save OrderIn Info
            $("#saveOrder").click(function () {
                var error_message = $("#Ordererrormessage");
                
                var order_id = $("#OrderId").val();
                var Medicine_Quantity = $("#totaleMedicineQuantity").val();
                var orderPrice = $("#sumprice").val();
                var Paid_Price = $("#PaidPrice").val();
                var PayementDate = $("#payementDate").val();
                if (order_id == "" || parseInt(order_id) <= 0 || Medicine_Quantity == "" || parseInt(Medicine_Quantity) <= 0) {
                    error_message.html("رجاءا قم بإختيار بيانات الفاتورة  أو إختر الدواء المراد شراءه");
                    error_message.fadeIn(30);
                } else if (Paid_Price == "") {
                    error_message.html("رجاءا أدخل المبلغ الحالي الذي تريد دفعه");
                    error_message.fadeIn(30);
                } else if (parseInt(Paid_Price) < 0) {
                    error_message.html("قيمة المبلغ لايمكن أن تكون أقل من صفر");
                    error_message.fadeIn(30);
                } /*else if (parseInt(Paid_Price) < parseInt(orderPrice)) {
                   
                        error_message.html("رجاءا إختر تاريخ السداد");
                        error_message.fadeIn(30);
                     
                }*/ else {
                    error_message.fadeOut();
                    $.ajax({
                        url: "saveOrderIn",
                        type: "GET",
                        data: {
                            order_id: order_id, Medicine_Quantity: Medicine_Quantity,
                            orderPrice: orderPrice, Paid_Price: Paid_Price, PayementDate: PayementDate
                        },
                        error: function (xhr, error) {

                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        },
                        success: function (data) {
                            // $("#searchresults").html(result);
                            if (data != null) {
                                alert("تم حفظ بيانات الفاتورة بنجاح");
                                $("#saveOrder").attr("disabled", "disabled");
                                $("#SearhName").attr("disabled", "disabled");
                                $("#AddOrderIn").removeAttr("disabled");
                                $("#OrderId").val("");
                                $("#SearhName").val("");
                                $("#printOrderLink").fadeIn(30);
                               
                            }

                        }
                    });
                }
               

            });
            //AutoSearh Medicine
            //////////////////////////////////////////////////////////////
            $("#SearhName").keyup(function () {

                var AutoSearch = $(this).val().trim();
                if (AutoSearch != "") {
                    $.ajax({
                        url: "/OrderOut/searchMedicine",
                        type: "POST",
                        data: { AutoSearch: AutoSearch },
                        error: function (xhr, error) {
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        },
                        success: function (data) {
                            // $("#searchresults").html(result);
                            if (data != null) {
                                var html = "";
                                $.each(data, function (key, value) {
                                    html += "<tr class='main-data tr_" + value.Id + "' data-id='" + value.Id + "'>";
                                    html += "<td>" + value.MedicineName + "</td>";
                                    if (value.IsHasTapes) {
                                        html += "<td>" + value.TotaleNumberOfTapes + "</td>";
                                    } else {
                                        html += "<td>" + value.Number + "</td>";
                                    }

                                    html += "<td>" + value.Price + "</td>";
                                    if (value.IsHasTapes == true) {
                                        html += "<td data-id='" + value.IsHasTapes + "'>يحتوي على أشرطة</td>";
                                    }else{
                                        html += "<td data-id='" + value.IsHasTapes + "'>لا يحتوي على أشرطة</td>";
                                    }
                                   
                                    html += "<td><a onclick='showInfo(this)' class='btn btn-info' >إضافة للطلبية</a> </td>";
                                });
                                $(".medicineDetialstable").find("tbody").html(html);
                            }

                        }
                    });
                }
            });
          
            $("#buyMedicine").click(function () {
                var error_message = $("#errormessage");
                var medicine_name = $("#mName").val();
                var medicine_price = $("#buyingPrice").val();
                var medicine_old_totaleAmount = $("#old_totalAmout").val();
                var medicine_id = $("#mId").val();
                var medicine_remainQTY = $("#remainQTY").val();
                var medicine_order_id = $("#OrderId").val();
                var medicine_isContainTapes = $("#isContainTapes").val();
                var medicine_QTY = $("#Quantity").val();
                var medicine_old_QTY = $("#old_Quantity").val();
                var old_buying_Quantity = $("#old_OrderQuantity").val();
                var medicine_OrderDetials_id = parseInt($("#medDetialID").val());
                var html2 = "";
                var sum = $("#sumprice").val();
                var totale_Medicine_Quantity = $("#totaleMedicineQuantity").val();
                error_message.fadeOut(30);
                if (medicine_QTY == "") {
                    error_message.html("رجاءا أدخل كمية الدواء المراد شراءه");
                    error_message.fadeIn(30);
                    return;
                } else if (parseInt(medicine_QTY) <= 0) {
                    error_message.html("كمية الدواء لا يمكن أن تكون أقل من أو تساوي الصفر");
                    error_message.fadeIn(30);
                    return;
                } else if (medicine_price == "") {
                    error_message.html("رجاءا أدخل سعر الشراء لهذا الدواء");
                    error_message.fadeIn(30);
                    return;
                } else if (parseInt(medicine_price) <= 0) {
                    error_message.html("سعرالشراء  لا يمكن أن تكون أقل من أو تساوي الصفر");
                    error_message.fadeIn(30);
                    return;
                } else if (medicine_name = "" || medicine_price == ""
                     || medicine_order_id == "" ||
                    medicine_isContainTapes == "") {
                    alert("رجاءا إختر الدواء المراد شراءه");
                    error_message.html("رجاءا إختر الدواء المراد بيعه");
                    error_message.fadeIn(30);
                    return;
                }  else {
                    var totalAmount = medicine_price * medicine_QTY;
                    $.ajax({
                        url: "buyMedicine",
                        type: "GET",
                        data: {
                            medicine_id: medicine_id , medicine_order_id: medicine_order_id,
                            medicine_QTY: medicine_QTY, medicine_price: medicine_price, totalAmount: totalAmount,
                            medicine_isContainTapes: medicine_isContainTapes, medicine_OrderDetials_id: medicine_OrderDetials_id,
                             medicine_old_QTY: medicine_old_QTY
                        },
                        error: function (xhr, error) {
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        },
                        success: function (data) {
                            if (data != null) {
                                if (data != medicine_OrderDetials_id) {
                                    html2 += "<tr class='medicine-data tr_" + data + "' data-id='" + medicine_id + "'>";
                                    html2 += "<td>" + $("#mName").val() + "</td>";
                                    html2 += "<td data-id='" + medicine_old_QTY + "'> " + medicine_QTY + "</td>";
                                    html2 += "<td data-id='" + medicine_isContainTapes + "' > " + medicine_price + "</td>";
                                    html2 += "<td> " + totalAmount + "</td>";
                                    html2 += "<td><a onclick='deleteOrder(this)' data-id = '" + data + "' class='btn btn-info' >تراجع </a>" +
                                      "          <a onclick='showbuyInfo(this)' data-id = '" + data + "' class='btn btn-info' >تعديل الطلبية</a> </td>";
                                    $(".orderDetialstable").find("tbody").append(html2);
                                    if (totale_Medicine_Quantity == "") {
                                        $("#totaleMedicineQuantity").val(medicine_QTY);
                                    } else {
                                        var totaleQuantity = parseInt(totale_Medicine_Quantity) + parseInt(medicine_QTY);
                                        $("#totaleMedicineQuantity").val(totaleQuantity);
                                   }
                                    if (sum == "") {
                                        $("#sumprice").val(totalAmount);

                                    } else {
                                        var totalesum = parseInt(sum) + parseInt(totalAmount);
                                        $("#sumprice").val(totalesum);

                                    }
                                    clearInput();
                                    $("#searchresults").html("");

                                } else {
                                    var edit = $(".tr_" + data + "");
                                    edit.find("td").eq(1).html(medicine_QTY);
                                    edit.find("td").eq(2).html(medicine_price);
                                    edit.find("td").eq(3).html(totalAmount);
                                    $("#buyMedicine").val("بيع الدواء");
                                    clearInput();
                                    var new_totalsum = (parseInt($("#sumprice").val()) + parseInt(totalAmount)) - parseInt(medicine_old_totaleAmount);
                                  $("#sumprice").val(new_totalsum); 

                                  var new_totaleQuantity = (parseInt(totale_Medicine_Quantity) + parseInt(medicine_QTY)) - old_buying_Quantity;
                                  $("#totaleMedicineQuantity").val(new_totaleQuantity);
                                }
                                $("#saveOrder").removeAttr("disabled");
                                $("#SearhName").val("");
                            }
                        }


                    });
                }
            });
        });
            //show medicine info for buying
            function showInfo(obj) {

            var _this = $(obj).closest(".main-data");
            $("#mName").val(_this.find("td").eq(0).html());
            $("#old_Quantity").val(_this.find("td").eq(1).html());
            $("#price").val(_this.find("td").eq(2).html());
            $("#mId").val(_this.attr("data-id"));
            $("#isContainTapes").val(_this.find("td").eq(3).attr("data-id"));
            $("#buyMedicine").val("إضفه للفاتورة");
            $("#medDetialID").val("");
            $("#buyingPrice").removeAttr("disabled");
            $("#Quantity").removeAttr("disabled");
            $("#buyMedicine").removeAttr("disabled");

            }
        //show medicine OrderInDetials To edit 
            function showbuyInfo(obj) {
            var _this = $(obj).closest(".medicine-data");
            $("#mName").val(_this.find("td").eq(0).html());
            $("#Quantity").val(parseInt(_this.find("td").eq(1).html()));
            $("#old_Quantity").val(_this.find("td").eq(1).attr("data-id"));
            $("#old_OrderQuantity").val(parseInt(_this.find("td").eq(1).html()));
            $("#buyingPrice").val(parseInt(_this.find("td").eq(2).html()));
            $("#old_totalAmout").val(parseInt(_this.find("td").eq(3).html()));
            $("#mId").val(_this.attr("data-id"));
            $("#medDetialID").val($(obj).attr("data-id"));
            $("#isContainTapes").val(_this.find("td").eq(2).attr("data-id"));
            $("#buyMedicine").val("تعديل تفاصيل المبيعة");

           }
            //delete the orderInMedicine
           function deleteOrder(obj) {
            if (confirm("هل أنت موافق علي التراجع من عملية البيع ؟")) {
                var _this = $(obj).closest(".medicine-data");
                var med_ID = _this.attr("data-id");
                var order_ID = $(obj).attr("data-id");
                var payment_QTY = _this.find("td").eq(1).html();
                var payment_total_price = _this.find("td").eq(3).html();
                $.ajax({
                    url: "backbuymedicine",
                    type: "GET",
                    data: { med_ID: med_ID, order_ID: order_ID, payment_QTY: payment_QTY },
                    error: function (xhr, error) {
                        alert("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    success: function (data) {
                        // $("#searchresults").html(result);
                        _this.fadeOut("slow");
                        var new_totalsum = (parseInt($("#sumprice").val()) - parseInt(payment_total_price));
                        $("#sumprice").val(new_totalsum);
                        var new_totaleQuantity = parseInt($("#totaleMedicineQuantity").val()) - parseInt(payment_QTY);
                        $("#totaleMedicineQuantity").val(new_totaleQuantity);
                       
                    }
                });
            }

           }
            //clear input value after buying medicine
           function clearInput() {
            $("#mName").val("");
            $("#price").val("");
            $("#mId").val("");
            $("#remainQTY").val("");
            $("#isContainTapes").val("");
            $("#Quantity").val("");
            $("#buyingPrice").val("");
            $("#old_OrderQuantity").val("");
            $("#old_Quantity").val("");
            $("#old_totalAmout").val("");
        }
    </script>
}




